@model _05_Fiap.Web.AspNet.Models.Zoo

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

    <form>
            <input asp-for="Zooo"/>
            <partial name="_atualizar"/>
            <botao texto="Atualizar"/>
        </form>
  



